<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="File" name="logfile"
                layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${logger}]@[${threadname}#${threadid}] ${message} ${exception:format=tostring}"
                fileName="${ProcessDir}/logs/mailheap.log"
                maxArchiveDays="7"
                archiveAboveSize="1048576"
                archiveFileName="mailheap-{#}.log"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd" />
        <target xsi:type="Console" name="logconsole"
                layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} [${logger:shortName=true}]@[${threadname}#${threadid}] ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
    </rules>
</nlog>